.connected-sortable-columns {
    /*display: none;*/
    position: absolute;
    z-index: 500;
    padding: 3px;
    border: 1px solid #eee;
    background: #99b0b7ed;
}

.connected-sortable-columns h3 {
    margin: 3px;
    /*background: #c3d7dd;*/
    padding: 3px;
}

.connected-sortable-columns ul{
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    padding: 5px 0 0 0;
    float: left;
    margin: 0 5px 0 5px;
}

.connected-sortable-columns li{
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
    height: 1.9em;
    line-height: 1.2em;
}

.connected-sortable-columns .sortable1 li{
    background: #fbf9ee;
    border: 1px solid #fcefa1;
}

.connected-sortable-columns .sortable2 li{
    background: #e6e6e6;
    border: 1px solid #d3d3d3;
}

.connected-sortable-columns .ui-sortable-placeholder{
    background: white !important;
    border: 1px dashed gray !important;
}

.connected-sortable-columns .control{
    margin-left: 3px;
    margin-top: 3px;
    clear: both;
    float: left;
}

.connected-sortable-columns .control select.form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}