html, body{
	padding: 0;
	margin: 0;
}
.view_for_print{
	padding: 170mm 10mm 10mm 10mm;
	width: 210mm;
}
.view_for_print table{
	width: 100%;
	border-spacing: 0;
	table-layout:fixed
}
.view_for_print table.department td{
	width: 33.3%;
}
.view_for_print table.device td{
	width: 25%;
}
.view_for_print .qr_image {
	position: absolute;
	margin-left: 189mm;
	margin-top: 1mm;
	background-repeat: no-repeat ;
	background-position: right center;
	background-size: contain;
	width: 20mm;
	height: 20mm;
}

.view_for_print table.verification td{
	width: 11.1%;
}
.view_for_print td{
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	height: 10mm;
	padding-left: 1mm;
	font-family: "Arial", sans-serif;
	font-size: 3.5mm;
	overflow: hidden;
}
.view_for_print tr:first-child td{
	border-top: 1px solid black;
}
.view_for_print td:first-child{
	border-left: 1px solid black;
}
.view_for_print table.department tr:last-child td{
	border-bottom: none;
}
.view_for_print table.device tr:last-child td{
	border-bottom: none;
}
.view_for_print table.verification tr:last-child td{
	padding-right: 2mm;
}
.view_for_print table.verification tr:nth-child(n+3):nth-child(-n+6) td{
    font-size: 3mm;
}
.view_for_print .center{
	text-align: center;
}
.view_for_print .right{
	text-align: right;
}