.one-button-form #basic-addon{
    padding: 0;
    border: none;
    outline: none;
}
.one-button-form #basic-addon button {
    border-radius: 0 4px 4px 0;
    outline: none;
}

.a-action {
    padding: 0 1px;
}
.grid-view table td.nowrap{
    white-space: nowrap;
}

/*table td input[type="text"]{*/
/*    height: 36px !important;*/
/*}*/
table .filter-date{
    font-size: 0;
}
table .filter-date input:nth-child(1){
    height: auto !important;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
}
table .filter-date input:nth-child(1) ~ input{
    height: auto !important;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
}
table td select{
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

span.color-ok{
    color: green;
}
span.color-err{
    color: red;
}
span.color-war{
    color: #ffa500;
}

#grid_id .reset_sort,
#grid_id .show_grid_column_sort{
    cursor: pointer;
}

/*
.button-as-a{
    background: none;
    border: none;
    outline: none;
    padding: 0;
    color: #337ab7;
}
.button-as-a:hover{
    color: #23527c;
}*/
