html, body{
	padding: 0;
	margin: 0;
}
@page{
	padding: 10mm 10mm 10mm 10mm;
	/*width: 190mm;*/
}
@media screen {
	.content {
		padding: 10mm 10mm 10mm 10mm;
		width: 190mm;
	}
	.content .hide{
		display: block !important;
	}
	.view_for_print{
		padding-top: 10mm !important;
	}
}

.content .hide{
	display: none;
}

.content .center{
	text-align: center;
}
.content .right{
	text-align: right;
}
.content table{
	width: 100%;
	border-spacing: 0;
	table-layout:fixed;
}
.content td,
.content th{
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	height: 8mm;
	padding-left: 1mm;
	font-family: "Arial", sans-serif;
	font-size: 3.5mm;
	overflow: hidden;
}

.content td:first-child{
	border-left: 1px solid black;
}

.view_for_print{
	padding-top: 160mm;
}
.view_for_print tr:first-child td{
	border-top: 1px solid black;
}
.view_for_print table.department td{
	width: 33.3%;
}
.view_for_print table.device td{
	width: 25%;
}
.view_for_print .qr_image {
	position: absolute;
	margin-left: 173mm;
	margin-top: 1mm;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
	width: 16mm;
	height: 16mm;
}
.view_for_print table.verification td{
	width: 11.1%;
}
.view_for_print table.department tr:last-child td{
	border-bottom: none;
}
.view_for_print table.device tr:last-child td{
	border-bottom: none;
}
.view_for_print table.verification tr:last-child td{
	padding-right: 2mm;
}
.view_for_print table.verification tr:nth-child(n+3):nth-child(-n+6) td{
    font-size: 3mm;
}

.print-table-device th{
	border: 1px solid black;
	border-left: none;
}
.print-table-device th:first-child {
	border-left: 1px solid black;
}
.print-table-device tr{
	page-break-inside: avoid;
}
.print-table-device th:nth-child(1){
    width: 10mm;
}
