.one-button-form #basic-addon{
    padding: 0;
    border: none;
    outline: none;
}
.one-button-form #basic-addon button {
    border-radius: 0 4px 4px 0;
    outline: none;
}
table td:last-child{
    /*white-space: nowrap;*/
}